/* 
Simple selectors:
    - id 
    - class
    - name
*/
/* 
Combinators:
    - , OR
    - connected (no spaces).
    - space (selector in selector direct child or not).
    - >     (selector in selector only direct child).
    - +     (selector directly after another selector).
    - ~     (selector directly or not after another selector). 
*/
/* 
h1, .d1, #i1{
    color: red;
    font-size: larger;
} 
div.d1{
    color: brown;
    font-size: xx-large;
}
#i1.d2{
    color: blue;
}
.d1.d3{
    background-color: blanchedalmond;
}

div p{
    background-color: aqua;
}
#div1 ~ p{
    background-color: black;
    color: white;
} */
/* #i1 > .c1 > p{
    background-color: brown;
} */
/* 
Pseudo-classes: (special state of an element) (:)
    - active:           the active link
    - checked:	        every checked <input> element
    - disabled:	        every disabled <input> element
    - empty:	        every <selector> element that has no children
    - enabled:	        every enabled <input> element
    - first-child:	    every <selector> elements that is the first child of its parent
    - focus:	        the <input> element that has focus
    - hover:	        links on mouse over
    - invalid:	        all <input> elements with an invalid value
    - last-child:	    every <selector> elements that is the last child of its parent
    - link:             all unvisited links
    - not(selector):	every element that is not a <selector> element
    - optional:	        <input> elements with no "required" attribute
    - read-only:	    <input> elements with a "readonly" attribute specified
    - required:	        <input> elements with a "required" attribute specified
    - valid:	        all <input> elements with a valid value
    - visited:	        all visited links 
*/
/* .li1:visited{
    color: chartreuse;
}
.li1:link{
    color: blanchedalmond;
    font-size: xx-large;
}
input:disabled{
    background-color: aqua;
}
#ddr{
    border: 1px solid #000000;
}
#ddr:hover{
    background-color: aquamarine;
}
input:focus{
    background-color: red;
} */
/* #menu{
    display: inline-block;
    background-color: lightgray;
}
#sub{
    border: 1px solid #000000;
    display: none;
}
#menu > p:hover + #sub{
    display: inline-block;
} */
/* 
Pseudo-elements: (specified parts of an element) (::)
    - after:	        Insert something after the content of each <selector> element
    - before:	        Insert something before the content of each <selector> element
    - first-letter:	    the first letter of each <selector> element
    - first-line:	    the first line of each <selector> element
    - marker:	        the markers of list items
    - selection:	    the portion of an element that is selected by a user 
*/
/* p::after{
    content: " * ";
    color: red;
}
p::before{
    content: " - ";
    color: aqua;
} */
/* p::first-line{
    color: blue;
    font-size: xx-large;
    background-color: blanchedalmond;
}
::marker{
    color: blue;
    font-size: xx-large;
    background-color: blanchedalmond;
} */
/* p::selection{
    background-color: bisque;
    color: blue;
} */
/* 
Attribute Selectors: []
    - [att]:	        all elements with a (att) attribute.
    - [att=val]:	    all elements with att="val".
    - [att~=val]:	    all elements with a title (att) containing the word "val" (arounded with spaces).
    - [att*=val]:	    all elements with a title (att) containing substring "val".
    - [att|=val]:	    all elements with a (att) attribute value starting with "val" (whole word like lang="en", or followed by a hyphen( - )).
    - [att^=val]:	    all elements with a (att) attribute value begins with "val".
    - [att$=val]:	    all elements with a (att) attribute value end with "val".
*/

input[name$="ser"]{
    background-color: blanchedalmond;
}











